[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = https://github.com/StaticMania/roxo-hugo.git
